
main{
    .backg-main1{
        background-color: #FFFFFF;
        @include display(flex, row, flex-start, center);
        max-width: 100vw;
        max-height: 100vh;

    }
    .boton{
        @include boton(#E0752F, 3.2rem, 38.4rem, 0rem, none, none);
        margin: 14.4rem 0rem;
    }
    .h1-main1{
        color: #343434;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.055rem;
    }
    .h1-main2{
        color: #E0752F;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.055rem;  
    }
    section div section h2{
        color: #343434;
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;
        padding: 4rem 0rem 0rem 0rem;
        letter-spacing: 0.0.5px;
        line-height: 1.7rem;
    }
    #div-main-h{
        @include display (flex, column, center, flex-start);
        padding: 0rem 20rem;
    }
    .backg-main2{
        background-color: #F2F4F1;
        @include display (flex, row-reverse, flex-start, center);
        max-width: 136.6rem;
        max-height: 76.8rem;
    }
    .boton-main2{
        @include boton (#DCE1DA, 39.8rem, 100vh, 0rem, none, none);
        padding: 0px;
    }
    .div2-main2{       
        background-image: url(../../assets/img/section3-image.png);
        background-repeat: no-repeat;
        width: 80.6rem;
        height: 46.2rem;
        background-size: contain;
        margin-right: -13rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .boton-div-main2{
        @include boton (#E0752F, 39.1rem, 25.4rem, 0rem, #FFFFFF, none);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }
    .boton-main2-h1{
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        margin-left: 4rem;
        margin-top: 4rem;
    }
    .boton-main2-h2{
        font-family: 'Poppins', sans-serif;
        font-size: 2.9rem;
        margin-left: 4rem;
    }
    .boton-main2-h3{
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-left: 4rem;
        margin-right: 6rem;
    }
    .botones-en-boton{
        align-self: flex-end;
        margin-right: 5rem;
        margin-top: 2.2rem;
    }
    img, svg {
    margin-left: 1rem;
    }
    .carousel-indicators {
        width: 0.8rem;
        height: 0.8rem;
        background-color: #E0752F;
    }

}