@mixin display($display, $flexd, $ejep, $ejes){
    display: $display;
    flex-direction: $flexd;
    justify-content: $ejep;
    align-items: $ejes;
}
@mixin boton($bgcolor, $ancho, $alto, $radiob, $tcolor, $borde){
    background-color: $bgcolor;
    width: $ancho;
    height: $alto;
    border-radius: $radiob;
    color: $tcolor;
    border: $borde;
}
@mixin breakpoint($breakpoint) {
    @if $breakpoint == "mobile" {
     @media only screen and (max-width: 768px) {
    @content;
     }
    } @else if $breakpoint == "tablet" {
     @media only screen and (min-width: 768px) and (max-width: 992px) {
    @content;
     }
    } @else if $breakpoint == "desktop" {
     @media only screen and (min-width: 992px) {
    @content;
     }
    }
}